<div class="container">
    <div class="row">
        <h3>App.Component</h3>
        <hr>
        <!--if selector is set by element we should use somthing like: -->
        <app-servers></app-servers> 

        <!--if selector is set by attribute we should use somthing like: 
        <div app-servers></div> -->

        <!--if selector is set by class we should use somthing like:
        <div class="app-servers"></div>-->
        <hr>
        <warning-alert></warning-alert>
        <success-alert></success-alert>
    </div>
</div>